<div class="main-container bg-column no-padding-top">
  <div class="row">
    <div class="column" style="margin-top: 3%;">
      <div class="page-title">Cliquez à présent sur votre circonscription !</div>
      <div class="the-underline">
        <div class="underlines underline-1"></div>
        <img src="images/underline.svg" alt="" class="underline-img"/>
        <div class="underlines underline-2"></div>
      </div>
    </div>
  </div>
  <div class="row">

    <img src="images/persons-circons.png" class="persons-circs-image"/>


    <div class="the-map-circs">

      <a class="arrow-to-back" href="#/departement"><img src="images/arrow.svg"/></a>

      <div class="circonscription-map-text">
        <p style="text-transform:uppercase;">Eure-et-loir</p>
        <div class="departement_text">
          <p><span>432 967 habitants</span></p>
          <p style="font-size:14px;">315 adhérents ADMD</p>
          <p style="font-size:14px;"><i class="glyphicon glyphicon-envelope message" style="font-size:14px;"></i> Délégué : Ziani Raoul Bali</p>
        </div>

        <p class=" re-Circonscription re-Circonscription-2">
          <span>1ère Circonscription</span><br/>
          <span>Jean-Pierre Gorge</span>
        </p>
        <p class=" re-Circonscription re-Circonscription-1">
          <span>2e Circonscription</span><br/>
          <span>Olivier Marleix</span>
        </p>
        <p class=" re-Circonscription re-Circonscription-3">
          <span>  3e Circonscription</span><br/>
          <span>  Laure de la Raudière</span>
        </p>
        <p class=" re-Circonscription re-Circonscription-4">
          <span>4e Circonscription</span><br/>
          <span>  Philippe Vigier</span>
        </p>
      </div>
      <img src="images/circonscription-shadow.svg" class="departement-shadow-image"/>

      <div class="mapcontainer">
        <div class="map"></div>
      </div>
    </div>
  </div>
</div>

