<div class="wrapper">
  <div class="row">
    <div class="column" style="margin-top: 3%;">
        <div class="page-title animated fadeInUp">Pour interpeller votre candidat.e, écrivez-lui !</div>
      <div class="the-underline animated fadeInUp hide-phone">
        <div class="underlines underline-1"></div>
        <img src="images/underline.svg" alt="" class="underline-img"/>
        <div class="underlines underline-2"></div>
      </div>
    </div>
  </div>
  <div class="row hide-phone">

    <img src="images/p-laws.png" class="persons-deputies-image"/>

    <div class="deputy-info animated fadeIn">
      <div class="deupty-departement">
        <p ng-if="circonscription.order != 1" class="deupty-departement-text"><span style="text-transform:uppercase;">{{departement.name}}</span> / {{circonscription.order}}<sup>e</sup> circonscription</p>
        <p ng-if="circonscription.order == 1" class="deupty-departement-text"><span style="text-transform:uppercase;">{{departement.name}}</span> / {{circonscription.order}}<sup>ère</sup> circonscription</p>

        <p class="deupty-departement-name f-b">député(e) sortant(e) : <span class="text-transform:capitalise;">{{deputy.first_name}} {{deputy.last_name}}</span></p>


      </div>



      <div class="deputy-laws animated fadeIn">
        <p class="law-ex-title text-bold">Ses positions les plus récentes:</p>
        <div ng-repeat="law in laws track by $index" class="deputy-info-text-section fade">
          <p class="law-title">{{law.name}}</p>
          <p class="law-text">{{law.description}}</p>
          <span class="deputy-info-text-span text-bold text-{{opinion_colors[law.opinion_id]}}" style="text-transform:uppercase"> {{law.opinion.opinion}} </span>

        </div>
        <button class="deputy-info-button animated fadeInDown" ng-click='go()'>ÉCRIRE À VOTRE CANDIDAT.E</button>
      </div>
      <div class="candidat-interpel nimated fadeIn">
        <span class="candidat-title" ng-show="candidats != 0">Interpeller les candidats:</span><br/>
        <ul class="candidat-list">
          <li ng-repeat="candidat in candidats | orderBy : 'first_name'"><a class="candidat-name" href="mailto:{{candidat.email_address}}?subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body={{candidat.prefix[0].slug}},%0D%0A%0D%0A

Savez-vous que 95%25 des Français se déclarent favorables à l’euthanasie ? Et que l’ADMD compte 70 000 membres actifs ? Et que dans votre département, {{departement.singular_name}}, nous sommes  {{departement.nb_admd}} à demander la légalisation de l’aide active à mourir (euthanasie active ou suicide assisté) ?
%0D%0A%0D%0A

Nous, citoyens, demandons une réponse digne et respectueuse de la volonté des personnes en fin de vie. Moi, électeur de votre circonscription, demande à ce que vous répondiez à ces deux questions :%0D%0A%0D%0A

Ȇtes-vous favorable à l’euthanasie active : administration d’un produit létal par un tiers ?%0D%0A%0D%0A
Ȇtes-vous favorable au suicide assisté : auto-administration d’un produit létal ?%0D%0A%0D%0A

{{candidat.prefix[0].slug}}, il est temps de choisir les conditions de notre propre fin de vie. J’ai besoin de connaître votre position et de la faire connaître aux électeurs. Je compte sur votre réponse sur un sujet connu de tous et sur lequel un futur législateur se doit d’avoir une position claire.%0D%0A%0D%0A

Bien  &agrave; vous,
&cc=pouruneloideliberte@admd.net">{{candidat.first_name}} {{candidat.last_name}} <span class="politic" style="font-size:12px;text-transform:uppercase" ng-if="candidat.politic">({{candidat.politic}})</span> </a></li>
        </ul>

      </div>
    </div>
  </div>


  <div class="row show-phone">

<div class="phone-container">
    <div class="deputy-info animated fadeIn">
      <div class="deupty-departement">
        <p ng-if="circonscription.order != 1" class="deupty-departement-text"><span style="text-transform:uppercase;">{{departement.name}}</span> / {{circonscription.order}}<sup>e</sup> circonscription</p>
        <p ng-if="circonscription.order == 1" class="deupty-departement-text"><span style="text-transform:uppercase;">{{departement.name}}</span> / {{circonscription.order}}<sup>ère</sup> circonscription</p>

        <p class="deupty-departement-name f-b">député(e) sortant(e) : <span class="text-transform:capitalise;">{{deputy.first_name}} {{deputy.last_name}}</span></p>


      </div>



      <div class="deputy-laws animated fadeIn">
        <p class="law-ex-title text-bold">Ses positions les plus récentes:</p>
        <div ng-repeat="law in laws track by $index" class="deputy-info-text-section fade">
          <p class="law-title">{{law.name}}</p>
          <p class="law-text">{{law.description}}</p>
          <span class="deputy-info-text-span text-bold text-{{opinion_colors[law.opinion_id]}}" style="text-transform:uppercase"> {{law.opinion.opinion}} </span>

        </div>
        <button class="deputy-info-button animated fadeInDown center-block" ng-click='go()'>ÉCRIRE À VOTRE DÉPUTÉ(E)</button>
      </div>

      <div class="candidat-interpel" ng-if="candidats != null">
        <span class="candidat-title" ng-show="circ.candidat != 0">Interpeller les candidats:</span><br/>
        <ul class="candidat-list">
          <li ng-repeat="candidat in candidats"><a class="candidat-name" href="mailto:{{candidat.email_address}}?subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body={{candidat.prefix[0].slug}},%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
&cc=pouruneloideliberte@admd.net">{{candidat.first_name}} {{candidat.last_name}} <span class="politic" style="font-size:12px;text-transform:uppercase" ng-if="candidat.politic">({{candidat.politic}})</span> </a></li>
        </ul>

      </div>

    </div>
  </div>
</div>

</div>
