<div class="lg-container">
  <div class="row">
    <div class="column" style="margin-top: 15%">
      <div class="bg-column padding-bottom-35 animated fadeIn">
        <div class="main-title-e">Ce message a bien été envoyé à <span style="text-transform:capitalise;">{{deputy.first_name}} {{deputy.last_name}}</span>. </div>
        <div class="main-title-e">  Vous êtes le {{number.number}}<sup>e</sup>  à participer à cette grande mobilisation citoyenne. </div>
        <div class="main-title-e">  Pour poursuivre votre action, partagez sur  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//pouruneloideliberte.fr" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" target="_blank"><span class="facebook-end"></span></a>    et  <a href="https://twitter.com/share?url=http://pouruneloideliberte.fr&amp;text=Faites comme moi, interpellez votre député en 1 clic., PourUneLoiDeLiberte, FinDeVie, ADMD" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" target="_blank"><span class="twitter-end"></span></a> </div>
      </div>
    </div>
  </div>
</div>
