<div class="lg-container">
  <div class="row">
    <div class="column column-responsive">
      <div class="bg-column">
        <div class="main-title animated fadeIn">95%<sup>*</sup> des Fran&ccedil;ais se d&eacute;clarent favorables &agrave; l’euthanasie !</div>
        <button onclick="location.href='#/france';" class="btn-big-blue animated fadeIn btn-responsive" >FAiTES-LE SAVOIR AUX (FUTURS !) &eacute;LUS ...</button>
        <div class="sub-text animated fadeIn">* Sondage ifop paru en mars 2017</div>
      </div>
    </div>
  </div>
</div>