<div class="lg-container">
  <div class="row">
    <div class="column column-responsive">
      <div class="bg-column">
        <div class="main-title animated fadeIn">95%<sup>*</sup> des Fran&ccedil;ais se d&eacute;clarent favorables &agrave; l’euthanasie !</div>
        <button onclick="location.href='#/france';" class="btn-big-blue animated fadeIn btn-responsive" >FAiTES-LE SAVOIR AUX (FUTURS !) &eacute;LUS ...</button>
        <div class="sub-text animated fadeIn">* Sondage ifop paru en mars 2017</div>
      </div>
    </div>
  </div>
</div>
 <!-- ID MENEO -->
<div id="dialog" >
	<div id="dialog_inner">
		<div id="step1" class="animated fadeInDown">
			 <span id="interpellation" >
				Pour interpeller les candidat.e.s <br> &agrave; l'&eacute;lection pr&eacute;sidentielle,
			 </span>
			 <a href="#step2" class="btn-big-skyblue change">je clique ici</a>
		 </div>
		 <div id="step2" style="display: none" class="pane">
			<Strong>Cliquez sur le candidat <br />de votre choix</Strong>
			<a class="image_candidat change" href="#narthaud"><div class="marge"><img src="images/narthaud.jpg" alt="Hartaud" /></div></a>
			<a class="image_candidat change" href="#asselineau"><div class="marge"><img src="images/asselineau.jpg" alt="Asselineau" /></div></a>
			<a class="image_candidat change" href="#cheminade"><div class="marge"><img src="images/cheminade.jpg" alt="Cheminade" /></div></a>
			<a class="image_candidat change" href="#ndupont-aignan"><div class="marge"><img src="images/ndupont-aignan.jpg" alt="Dupont-Aignan" /></div></a>
			<a class="image_candidat change" href="#ffillon"><div class="marge"><img src="images/ffillon.jpg" alt="Fillon" /></div></a>
			<a class="image_candidat change" href="#bhamon"><div class="marge"><img src="images/bhamon.jpg" alt="Hamon" /></div></a>
			<a class="image_candidat change" href="#lassalle"><div class="marge"><img src="images/lassalle.jpg" alt="Lassalle" /></div></a>
			<a class="image_candidat change" href="#mlepen"><div class="marge"><img src="images/mlepen.jpg" alt="Le Pen" /></div></a>
			<a class="image_candidat change" href="#emacron"><div class="marge"><img src="images/emacron.jpg" alt="Macron" /></div></a>
			<a class="image_candidat change" href="#jlmelenchon"><div class="marge"><img src="images/jlmelenchon.jpg" alt="Melanchon" /></div></a>
			<a class="image_candidat change" href="#ppoutou"><div class="marge"><img src="images/ppoutou.jpg" alt="Poutou" /></div></a>
			<a class="image_candidat" href="#"><div class="marge"><img src="images/ADMD2017.jpg" alt="ADMD" /></div></a>
		 </div>

<!-- ARTHAUD -->
		  <div id="narthaud" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">

						<span class="note_verte"></span>
						<span class="note_verte"></span>
						<span class="note_verte"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Nathalie Arthaud</span>
						<span class="parti_candidat"  >(Lutte Ouvri&egrave;re)</span>
						<span class="avis_candidat"  >FAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreArthaud.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Nathalie Arthaud</a>
						<a class="telecharger_reponse" href="docs/reponse_arthaud.pdf" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Nathalie Arthaud <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@lutte-ouvriere.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />la candidate</a>
					<a href="mailto:contact@lutte-ouvriere.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>



<!-- HAMON -->
		  <div id="bhamon" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image animated fadeInDown">
					<div class="notation">
						<span class="note_verte"></span>
						<span class="note_verte"></span>
						<span class="note_verte"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Beno&icirc;t Hamon</span>
						<span class="parti_candidat"  >(Parti Socialiste)</span>
						<span class="avis_candidat"  >Favorable</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreHamon.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Beno&icirc;t Hamon</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Beno&icirc;t Hamon <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@benoithamon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@benoithamon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- MACRON -->
		 <div id="emacron" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Emmanuel Macron</span>
						<span class="parti_candidat"  >(En Marche !)</span>
						<span class="avis_candidat"  >EN ATTENTE DE R&eacute;PONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreMacron.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Emmanuel Macron</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse d'Emmanuel Macron <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@en-marche.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@en-marche.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- FILLON -->
		 <div id="ffillon" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Fran&ccedil;ois Fillon</span>
						<span class="parti_candidat"  >(Les R&eacute;publicains)</span>
						<span class="avis_candidat"  >DEFAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreFillon.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Fran&ccedil;ois Fillon</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Fran&ccedil;ois Fillon <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:equipe@fillon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:equipe@fillon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- MELANCHON -->
		 <div id="jlmelenchon" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_verte"></span>
						<span class="note_verte"></span>
						<span class="note_verte"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Jean-Luc M&eacute;lenchon</span>
						<span class="parti_candidat"  >(La France Insoumise)</span>
						<span class="avis_candidat"  >FAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreMelenchon.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Jean-Luc M&eacute;lenchon</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Jean-Luc M&eacute;lenchon <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@jlm2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@jlm2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- LEPEN -->
		 <div id="mlepen" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Marine Le Pen</span>
						<span class="parti_candidat"  >(Front National)</span>
						<span class="avis_candidat"  >EN ATTENTE DE R&eacute;PONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreLePen.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Marine Le Pen</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Marine Le Pen <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:marine.lepen@frontnational.com?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />la candidate</a>
					<a href="mailto:marine.lepen@frontnational.com?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>


<!-- DUPONT-AIGNAN -->
		 <div id="ndupont-aignan" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Nicolas Dupont-Aignan</span>
						<span class="parti_candidat"  >(Debout la France)</span>
						<span class="avis_candidat"  >EN ATTENTE DE R&eacute;PONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreDupont-Aignan.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Nicolas Dupont-Aignan</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Nicolas Dupont-Aignan <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:courrier@debout-la-france.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:courrier@debout-la-france.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- POUTOU -->
		 <div id="ppoutou" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">

						<span class="note_verte"></span>
						<span class="note_verte"></span>
						<span class="note_verte"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Philippe Poutou</span>
						<span class="parti_candidat"  >(NPA)</span>
						<span class="avis_candidat"  >FAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettrePoutou.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Philippe Poutou</a>
						<a class="telecharger_reponse" href="docs/reponse_poutou.pdf" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Philippe Poutou <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:ecrire@npa2009.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:ecrire@npa2009.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- ASSELINEAU -->
		 <div id="asselineau" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">

						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Fran&ccedil;ois Asselineau</span>
						<span class="parti_candidat"  >(Union Populaire R&eacute;publicaine)</span>
						<span class="avis_candidat"  >DEFAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreAsselineau.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Fran&ccedil;ois Asselineau</a>
						<a class="telecharger_reponse" href="docs/reponse_asselineau.pdf" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Fran&ccedil;ois Asselineau <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@upr.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@upr.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- CHEMINADE -->
		 <div id="cheminade" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Jacques Cheminade</span>
						<span class="parti_candidat"  >(Solidarit&eacute; et Progr&egrave;s)</span>
						<span class="avis_candidat"  >DEFAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreCheminade.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Jacques Cheminade</a>
						  <a class="telecharger_reponse" href="docs/reponse_cheminade.pdf" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Jacques Cheminade <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:presse@jacquescheminade.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:presse@jacquescheminade.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- CHEMINADE -->
<div id="lassalle" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
						<span class="note_rouge"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Jean Lassalle</span>
						<span class="parti_candidat"  >(R&eacute;sistons !)</span>
						<span class="avis_candidat"  >DEFAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreLassalle.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Jean Lassalle</a>
						  <a class="telecharger_reponse" href="docs/reponse_lassalle.pdf" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Jean Lassalle <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:permanence-jean-lassalle@wanadoo.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A
Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A
Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:permanence-jean-lassalle@wanadoo.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>


	</div>
</div>
<div id="merci" class="animated fadeInDown" style="display: none;" >
	<div id="merci_inner">
		<p class="main-title"   >Merci de votre participation &agrave; cette grande mobilisation citoyenne</p>
		<p>Pour poursuivre votre action, partagez sur <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.pouruneloideliberte.fr" target="_blank"><i class="fa fa-facebook" style="color: #3b5998"></i></a> et sur <a href="https://twitter.com/intent/tweet?url=http://pouruneloideliberte.fr&text=Faites comme moi, interpellez les candidats en 1 clic.&hashtags=PourUneLoiDeLiberte,FinDeVie,Admd2017,ParlonsFinDeVie" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> </p>
	</div>
</div>
<script>
  $( function() {

	$('.wrapper').hide();

	var windowwidth = $(window).width();
	  if (windowwidth > 800) {
		var dialogwidth = 800;
	}
	else {
		var dialogwidth = 237;
	}
	$( "#dialog" ).dialog({
	 closeText: "X",
	 width: dialogwidth,
	 autoResize:true,
	 close: function( event, ui ) {
		$('.wrapper').show();
	 }
	});
	$('#dialog a.change').click(function(e) {
		e.preventDefault();
		 $('#dialog').dialog('option', 'position',
			{ my: "center top",
			  at: "center top",
			  of: window
		});
		var target = $(this).attr('href');
		$(this).parent().hide();
		$(target).show('fade','slow');
	});
	$('.retour').click(function(e) {
		e.preventDefault();
		$(this).closest('.candidat').hide();
		$('#step2').show('fade','slow');
	});
	$('.liens_candidat a').click(function() {
		$('#dialog').dialog('destroy').remove();
		$( "#merci" ).dialog({
			 closeText: "X",
			 width: 280,
			 autoResize:true,
			 close: function( event, ui ) {
				$('.wrapper').show();
			 }
			});
	});
  } );
</script>
