<div class="lg-container">
  <div class="row">
    <div class="column column-responsive">
      <div class="bg-column">
        <div class="main-title animated fadeIn">95%<sup>*</sup> des Fran&ccedil;ais se d&eacute;clarent favorables &agrave; l’euthanasie !</div>
        <button onclick="location.href='#/france';" class="btn-big-blue animated fadeIn btn-responsive" >FAiTES-LE SAVOIR AUX (FUTURS !) &eacute;LUS ...</button>
        <div class="sub-text animated fadeIn">* Sondage ifop paru en mars 2017</div>
      </div>
    </div>
  </div>
</div>
 <!-- ID MENEO -->
<div id="dialog" >
	<div id="dialog_inner">
		<div id="step1" class="animated fadeInDown">
			 <span id="interpellation" >
				Pour interpeller les candidat.e.s <br> &agrave; l'&eacute;lection pr&eacute;sidentielle,
			 </span>
			 <a href="#step2" class="btn-big-skyblue change">je clique ici</a>
		 </div>
		 <div id="step2" style="display: none" class="pane">
			<Strong>Cliquez sur le candidat <br />de votre choix</Strong>
			
			<a class="image_candidat change" href="#emacron"><div class="marge"><img src="images/emacron.jpg" alt="Macron" /></div></a>
			<a class="image_candidat change" href="#mlepen"><div class="marge"><img src="images/mlepen.jpg" alt="Le Pen" /></div></a>
			 
			<a class="image_candidat" href="#"><div class="marge"><img src="images/ADMD2017.jpg" alt="ADMD" /></div></a>
		 </div>
 

<!-- MACRON -->
		 <div id="emacron" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Emmanuel Macron</span>
						<span class="parti_candidat"  >(En Marche !)</span>
						<span class="avis_candidat"  >EN ATTENTE DE R&eacute;PONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreMacron.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Emmanuel Macron</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse d'Emmanuel Macron <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@en-marche.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@en-marche.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>
 
<!-- LEPEN -->
		 <div id="mlepen" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
						<span class="note_blanche"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Marine Le Pen</span>
						<span class="parti_candidat"  >(Front National)</span>
						<span class="avis_candidat"  >EN ATTENTE DE R&eacute;PONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreLePen.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Marine Le Pen</a>
						<!-- <a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Marine Le Pen <br>au pr&eacute;sident de l'ADMD</a> -->
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:marine.lepen@frontnational.com?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignit&eacute; (ADMD) en faveur de la l&eacute;galisation de l’aide active &agrave; mourir.%0D%0A%0D%0A

Bien  &agrave; vous,
" >Interpellez <br />la candidate</a>
					<a href="mailto:marine.lepen@frontnational.com?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERT&eacute; : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A(Vous pouvez &agrave; pr&eacute;sent r&eacute;diger votre t&eacute;moignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>



	</div>
</div>
<div id="merci" class="animated fadeInDown" style="display: none;" >
	<div id="merci_inner">
		<p class="main-title"   >Merci de votre participation &agrave; cette grande mobilisation citoyenne</p>
		<p>Pour poursuivre votre action, partagez sur <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.pouruneloideliberte.fr" target="_blank"><i class="fa fa-facebook" style="color: #3b5998"></i></a> et sur <a href="https://twitter.com/intent/tweet?url=http://pouruneloideliberte.fr&text=Faites comme moi, interpellez les candidats en 1 clic.&hashtags=PourUneLoiDeLiberte,FinDeVie,Admd2017,ParlonsFinDeVie" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> </p>
	</div>
</div>
<script>
  $( function() {

	$('.wrapper').hide();

	var windowwidth = $(window).width();
	  if (windowwidth > 800) {
		var dialogwidth = 800;
	}
	else {
		var dialogwidth = 237;
	}
	$( "#dialog" ).dialog({
	 closeText: "X",
	 width: dialogwidth,
	 autoResize:true,
	 close: function( event, ui ) {
		$('.wrapper').show();
	 }
	});
	$('#dialog a.change').click(function(e) {
		e.preventDefault();
		 $('#dialog').dialog('option', 'position',
			{ my: "center top",
			  at: "center top",
			  of: window
		});
		var target = $(this).attr('href');
		$(this).parent().hide();
		$(target).show('fade','slow');
	});
	$('.retour').click(function(e) {
		e.preventDefault();
		$(this).closest('.candidat').hide();
		$('#step2').show('fade','slow');
	});
	$('.liens_candidat a').click(function() {
		$('#dialog').dialog('destroy').remove();
		$( "#merci" ).dialog({
			 closeText: "X",
			 width: 280,
			 autoResize:true,
			 close: function( event, ui ) {
				$('.wrapper').show();
			 }
			});
	});
  } );
</script>
