<div class="wrapper">
<div class="letter-to-deputy">
  <div class="letter-text">
    <div class="letter-start">{{prefix}},</div>
Savez-vous que 90% des Français se déclarent favorables à l’euthanasie ? Et que l’ADMD compte 68 000 membres actifs ? Et que dans votre département, {{departement.singular_name}}, nous sommes {{departement.nb_admd}} à demander la légalisation de l’aide active à mourir (euthanasie active ou suicide assisté) ? <br/>Nous, citoyens, demandons une réponse digne et respectueuse de la volonté des personnes en fin de vie. <br/>Moi, électeur de votre circonscription, demande à
ce que vous répondiez en 1 clic à ces deux questions :<br/>
<div class="question">
  L’euthanasie active (administration d’un produit létal par un tiers):<br/>
  <div class="opinion1">
    <div class="inline"><div class="inline-in"><div id="square"></div></div><div class="inline-in">pour</div>  </div>
    <div class="inline"><div class="inline-in"><div id="square"></div></div><div class="inline-in">contre</div>  </div>
    <div class="inline"><div class="inline-in"><div id="square"></div></div><div class="inline-in">sans opinion</div>  </div>

</div>
</div><br/>

<div class="question" id="q2">
  Le suicide assisté (auto-administration d’un produit létal):<br/>
  <div class="opinion1">
    <div class="inline"><div class="inline-in"><div id="square"></div></div><div class="inline-in">pour</div>  </div>
    <div class="inline"><div class="inline-in"><div id="square"></div></div><div class="inline-in">contre</div>  </div>
    <div class="inline"><div class="inline-in"><div id="square"></div></div><div class="inline-in">sans opinion</div>  </div>

</div>
</div><br/>

{{prefix}}, il est temps de choisir les conditions de notre propre fin de vie. J’ai besoin de connaître votre position et de la faire connaitre aux électeurs. Je compte sur votre réponse sur un sujet connu de tous et sur lequel un futur législateur se doit d’avoir une
position claire.<br/>
<div class="text-right" id="letter-end">Bien à vous,</div>
  </div>
  <div class="btn-container">
    <form name="MailForm" class="mailform" ng-controller="LettreCtrl">
   <label>Entrez votre Email:   </label>
     <input type="email" name="input" ng-model="email.text" required>

   <div role="alert">

     <span class="error" ng-show="MailForm.input.$error.email">
       Email invalide!</span>
   </div>
   <button class="lettre-btn" ng-disabled="MailForm.input.$valid == false" ng-click='MailForm.input.$valid == false || go()'>ENVOYER</button>

 </form>

  </div>

</div>
</div>
